@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap");

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Impede rolagem */
  user-select: none; /* Impede seleção de texto */
  touch-action: none; /* Impede zoom */
  background-color: #001355;
  font-family: "EB Garamond", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1080px;
  height: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 120px;
  padding: 10px;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Se quiser manter a animação do logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Ajustando cartões de informação */
.card {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.read-the-docs {
  color: #ccc;
  font-size: 24px;
}
